extends ./layouts/main.pug

block content
    include ./partials/navBar.pug
    main
        h1.pageTitle chart page 
        include partials/selectDay.pug
        .chartBox-array
            div 회당 금액
            ul
                each member in members
                    if member.earnedMoney.length === 0
                        li.forFilter(value=member.dayOfWeek) #{member.name}(#{member.nthMeeting}회차까지): 
                    else
                        li.forFilter(value=member.dayOfWeek) #{member.name}(#{member.nthMeeting}회차까지): [#{member.earnedMoney}]
        .chartBox-total 
            div 토탈   
            ul
                each member in members
                    //- if member.nextFeeOption < 0 ? `${member.nextFeeOption} 환급`:`${member.nextFeeOption} 입금`
                    if member.earnedMoney.length === 0
                        li.chartSaved.forFilter(value=member.dayOfWeek)
                            a.chartSaved-name(href=`${routes.search}?name=${member.name}`) #{member.name}
                            div.chartSaved-entryFee (#{member.entryFee}): #{member.numberOfAbsence}회 결석
                    else        
                        li.chartSaved.forFilter(value=member.dayOfWeek)
                            a.chartSaved-name(href=`${routes.search}?name=${member.name}`) #{member.name}
                            div.chartSaved-entryFee (#{member.entryFee}): #{member.numberOfAbsence}회 결석으로 #{member.extraFeeText}. #{member.TotalEarnedMoney}원 이월로 #{member.nextFeeOption} #{member.nextFeeText}.
                            if member.nthMeeting >= 10
                                button(value=member._id) 10회이상(입금확인)
                            
                        //- div.nthMeetingSaved #{member.nthMeeting} 회차
                        //- div.chartSaved-numbOfAbsence(value=member.numberOfAbsence) #{member.numberOfAbsence}결석으로 
                        //- div.chartSaved-extraFeeOption #{member.extraFeeText}. 
                        //- div.chartSaved-earnedMoney #{member.TotalEarnedMoney}원 이월로  
                        //- div.chartSaved-nextFeeOption(value=member.nextFeeOption) #{member.nextFeeOption} #{member.nextFeeText}
            if members.length !== 0            
                a.bandShareBtn.filteringMemberBtn
                    img(src="BANDshare.png")
                
                form.filteringMemberBtns(action="", method="post")
                    input.chartSaved-resetBtn(type="submit", value="reset") 


                    