extends ./layouts/main.pug

block content
    include ./partials/navBar.pug
    main
        form.searchMemberBox(method="" action="") 
            input(type="text" placeholder="search by name" name="name")

        .searchedMainBox
            if(findMember)
                ul     
                    each member in findMember 
                        li 
                            form(method="POST" action=routes.search)

                                input(type="text" name="name" value=member.name required)

                                label(for="week") choose a day of meeting: 
                                select(name="dayOfWeek" id="week" required)
                                    option(value=member.dayOfWeek)=member.dayOfWeek
                                    option(value="MON") MON 
                                    option(value="TUE") TUE
                                    option(value="WED") WED
                                    option(value="THU") THU
                                    option(value="FRI") FRI
                                    option(value="SAT") SAT 
                                    option(value="SUN") SUN

                                //- label(for="memberInning") start at:
                                //- input(type="number" id="memberInning" name="nthMeeting" scale=1 max=10 min=1 value=member.nthMeeting required)

                                label(for="memberAbsence") number of Absence:
                                input(type="number" id="memberAbsence" name="numberOfAbsence" scale=1 max=10 min=0 value=member.numberOfAbsence required)

                                label(for="nthFee")  nth Fee 
                                div(id="nthFee" data-label=member._id style={display: "flex"})
                                    if member.earnedMoney.length !== 0
                                        select(name="index").selectNth
                                            each fee, index in member.earnedMoney 
                                                option.selectNthOption(value=index) #{index + 1}회차: #{fee}원
                                        input.nthEarndMoney(type="number" min=0 name="changedEarnedMoney" placeholder="회차 선택 후 변경 값")
                                    else
                                        select(name="index").selectNth
                                            option.selectNthOption(value="") ----
                                        input.nthEarndMoney(type="number" value="" name="changedEarnedMoney"  placeholder="haven't checked yet")

                                //- label(for="memberTotalEarnedMoney") totalearnedFee:
                                //- input(type="number" name="TotalEarnedMoney" id="memberTotalEarnedMoney" min=0 value=member.TotalEarnedMoney)

                                label(for="memberEntryFee") Entry fee:
                                input(type="number" name="entryfee" min=10000 step=10000 value=member.entryFee placeholder="entry fee" id="memberEntryFee" required)

                                input(type="hidden" name="id" value=member._id)    

                                input(type="submit" value="Edit") 

                            a(href=routes.deleteMember(member.id))  
                                button Delete 
            else 
                h1=noMember

        