extends ./layouts/main.pug

block content
    //- include ./partials/navBar.pug
    .menuBar
        a.menuBox(href=routes.home)
            i.fas.fa-user-check(style={color:"white"})              
        a.menuBox(href=routes.saved) 
            i.fas.fa-clipboard-list 
        a.menuBox(href=routes.search)
            i.fas.fa-search  
        a.menuBox(href=routes.logout)   
            i.fas.fa-sign-out-alt
    main
        if members.length === 0
            .ifNoMemberAdded
                h1 Add Member
                a.addMemberIconBox(href=routes.add)
                    i.fas.fa-user-plus.fa-2x  
        else
            .headBox
                    h1 Attendance
                    .startAndDoneBtnContainner
                        button.homeTimeStartBtn.startBtnSet(data-nth=nth data-savedStartTime=startTime) #{nth}회 시작
                        form(action="/saved", method="").homeTimeFinishBtn.finisheBtnSet.forFilter  
                            button DONE
            //- button.goFetch fetch

            .homeBox-start
                .ulBoxHead 체크박스
                    a(href=routes.add)
                        i.fas.fa-user-plus.homeIcon
                ul.listBoard-checkBox
                    //- ul 클래스 픽스
                    each member in members
                        li.forFilter(data-nthMeeting=member.nthMeeting)
                            button.checkBox-checkIn(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting) #{member.name}
                            .checkBox-text
                                .textBox 
                                    .textBox-title 출석률 
                                    .textBox-content #{Math.round((nth - member.numberOfAbsence)/nth*100)}%
                                .textBox
                                    .textBox-title 지각
                                    .textBox-content #{((nth-1)*(member.entryFee/10)-member.TotalEarnedMoney)/2000}시간
                            button.checkBox-Absence(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting data-numberOfAbsence=member.numberOfAbsence) 
                                i.fas.fa-times
                                //- <i class="fas fa-times-circle"></i>
                                //- <i class="far fa-times-circle"></i>
            .homeBox-finish
                .ulBoxHead-two 수정박스
                ul.listBoard-checkedBox
                    each member in members
                        li.forFilter(data-nthMeeting=member.nthMeeting data-nthOfAbsence=member.numberOfAbsence data-name=member.name)
                            button.checkBox-checkIn(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting data-lastEarnd=member.earnedMoney[member.earnedMoney.length-1]) #{member.name} (#{member.nthMeeting}회차 취소)
                            div.fromCheckBoxInnerText :[결석: 0회차 || 출석: 5000원 (9:02 AM)]
