extends ./layouts/main.pug

block content
    include ./partials/navBar.pug
    main
        if members.length === 0
            h1 add members first
        else
            h1 attendance sheet
            //- button.goFetch fetch

            .homeBtnBox-start
                button.homeTimeStartBtn(data-nth=nth) #{nth}회차 시작 
                //- 버튼 클래스 픽스

            .homeAttendanceSheet-start
                .ulBox-title 체크박스
                ul.listBoard-checkBox
                    //- ul 클래스 픽스
                    each member in members
                        li.forFilter(data-nthMeeting=member.nthMeeting)
                            button.checkBox-checkIn(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting) #{member.name}
                            div #{member.numberOfAbsence} 결석
                            div #{member.TotalEarnedMoney} 원
                            button.checkBox-Absence(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting data-numberOfAbsence=member.numberOfAbsence) Absence
                                
            .homeAttendanceSheet-finish
                .ulBox-title 수정박스
                ul.listBoard-checkedBox
                    each member in members
                        li.forFilter(data-nthMeeting=member.nthMeeting data-nthOfAbsence=member.numberOfAbsence data-name=member.name)
                            button.checkBox-checkIn(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting style={background: "red"}) #{member.name} (#{member.nthMeeting}회차 취소)
                            div.fromCheckBoxInnerText :[결석: 0회차 || 출석: 5000원 (9:02 AM)]

            .homeBtnBox-finish
                form(action="/saved", method="")   
                    button.homeTimeFinishBtn DONE 
                //- 버트 클래스 픽스
