extends ./layouts/main.pug

block content
    include ./partials/navBar.pug
    main
        if members.length === 0
            .ifNoMemberAdded
                h1 Add Member
                a.addMemberIconBox(href=routes.add)
                    i.fas.fa-user-plus.fa-2x  
        else
            .headBox
                    h1 Attendance
                    .startAndDoneBtnContainner
                        button.homeTimeStartBtn.startBtnSet(data-nth=nth) #{nth}회차 시작
                        form(action="/saved", method="").homeTimeFinishBtn.finisheBtnSet.forFilter  
                            button DONE
            //- button.goFetch fetch

            .homeBox-start
                .ulBoxHead 체크박스
                    a(href=routes.add)
                        i.fas.fa-user-plus.homeIcon
                ul.listBoard-checkBox
                    //- ul 클래스 픽스
                    each member in members
                        li.forFilter(data-nthMeeting=member.nthMeeting)
                            button.checkBox-checkIn(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting) #{member.name}
                            div #{member.numberOfAbsence} 결석
                            div #{member.TotalEarnedMoney} 원
                            button.checkBox-Absence(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting data-numberOfAbsence=member.numberOfAbsence) Absence
                                
            .homeBox-finish
                .ulBoxHead-two 수정박스
                ul.listBoard-checkedBox
                    each member in members
                        li.forFilter(data-nthMeeting=member.nthMeeting data-nthOfAbsence=member.numberOfAbsence data-name=member.name)
                            button.checkBox-checkIn(value=member._id data-entryFee=member.entryFee data-nthMeeting=member.nthMeeting) #{member.name} (#{member.nthMeeting}회차 취소)
                            div.fromCheckBoxInnerText :[결석: 0회차 || 출석: 5000원 (9:02 AM)]
