extends ./layouts/main.pug

block content
    include ./partials/navBar.pug
    main
        if members.length === 0
            .ifNoMemberAdded
                h1 Add Member
                a.addMemberIconBox(href=routes.add)
                    i.fas.fa-user-plus.fa-2x 
        else
            //- include partials/selectDay.pug
            .headBox 
                h1 chart page

            .chartBox-array
                .ulBoxHead#foldBox
                    h6 회당 금액
                    i.fas.fa-chevron-down#foldBoxBtn 
                ul.close#foldBoxContainner
                    each member in members
                        if member.earnedMoney.length === 0
                            li 
                                .chartArrayName #{member.name}
                                h6.chartArrayText 
                                    #ifNotStart 1회차 전
                        else
                            li 
                                .chartArrayName #{member.name}
                                each fee, index in member.earnedMoney
                                    h6.chartArrayText 
                                        .chartArrayText-Num #{index + 1}차
                                        .chartArrayText-Mon #{fee/1000} 
            
            .chartBox-total 
                .ulBoxHead-two 토탈 
                    a.bandShareBtn#bandBtn BAND  
                ul.resetBtnUl.listBord-chartBox
                    each member in members
                        if(member.nextFeeText)
                            li.chartSaved
                                div(style={display: "none"}) #{member.name}(#{member.entryFee}): #{member.numberOfAbsence}회 결석으로 #{member.extraFeeText}. #{member.TotalEarnedMoney}원 이월로 #{member.nextFeeOption} #{member.nextFeeText}.
                                a.chartText(href=`${routes.search}?name=${member.name}`)
                                    .chartText-firstBox
                                        .chartText-nameEntryFee
                                            .nameEntryFee-name #{member.name}
                                            //- .nameEntryFee-entryFee #{member.entryFee/10000}만원
                                        .chartText-AbsenceExtraEarnd
                                            .AbsenceExtraEarnd-BoxTop
                                                .nameEntryFee-entryFee #{member.entryFee/10000}만원 
                                                .BoxTop-numberOfAbsence
                                                    .wordAbsence 결석
                                                    .circleAbsence #{member.numberOfAbsence}
                                                .BoxTop-extra #{member.extraFeeText}
                                            .AbsenceExtraEarnd-TotalEarnedMoney #{member.TotalEarnedMoney}원 
                                    .chartText-secondBox
                                        i.fas.fa-chevron-right
                                        .resetBtnContainner
                                        if member.nthMeeting > 10 && member.nextFeeText === "입금"
                                            button.resetCallBtn#resetConfirm(data-id=member._id) #{member.nextFeeOption}원 #{member.nextFeeText}
                                        if member.nthMeeting > 10 && member.nextFeeText === "환급"
                                            button.resetCallBtn#resetConfirmRe(data-id=member._id) #{member.nextFeeOption}원 #{member.nextFeeText}
                        else        
                            li.chartSaved
                                a.chartText(href=`${routes.search}?name=${member.name}`)
                                    .chartText-firstBox
                                        .chartText-nameEntryFee
                                            .nameEntryFee-name #{member.name}
                                            //- .nameEntryFee-entryFee #{member.entryFee/10000}만원
                                        .chartText-AbsenceExtraEarnd #{member.nthMeeting}회차부터 시작
                                    .chartText-secondBox
                                        i.fas.fa-chevron-right
                                //- a.chartSaved-name(href=`${routes.search}?name=${member.name}`) #{member.name}
                                //- div.chartSaved-entryFee (#{member.entryFee}): #{member.nthMeeting}회차부터 시작                     

//- (#{member.nthMeeting - 1}회차): [#{member.earnedMoney}]