.menuBar
    .menuBar-containner
        a.menuBox(href=routes.home)
            i.fas.fa-user-check   
            //- .menuBox-text CHECK             
        a.menuBox(href=routes.saved) 
            i.fas.fa-clipboard-list  
            //- .menuBox-text LIST
        a.menuBox(href=routes.search)
            i.fas.fa-search  
            //- .menuBox-text SEARCH/Edit
    .menuBar-containnerSecond        
        a.menuBox(href=routes.logout)   
                i.fas.fa-sign-out-alt
            


    //- a.menuBox(href=routes.home)
    //-     i.fas.fa-user-check   
    //-     .menuBox-text CHECK             
    //- a.menuBox(href=routes.saved) 
    //-     i.fas.fa-clipboard-list  
    //-     .menuBox-text LIST
    //- a.menuBox(href=routes.search)
    //-     i.fas.fa-search  
    //-     .menuBox-text SEARCH/Edit
    //- a.menuBox(href=routes.logout)
    //-     i.fas.fa-sign-out-alt
    //-     .menuBox-text LOGOUT



        //- a.menuBox(href=routes.add)
        //-     i.fas.fa-user-plus  
        //-     .menuBox-text ADD