nav.menuBar
    a.menuBar-icon(href=routes.home)
        i.fas.fa-user-check   CHECK             
    a.menuBar-icon(href=routes.saved) 
        i.fas.fa-clipboard-list  LIST
    a.menuBar-icon(href=routes.add)
        i.fas.fa-plus  ADD
    a.menuBar-icon(href=routes.search)
        i.fas.fa-search  SEARCH/Edit
    a.menuBar-icon(href=routes.logout)
        i.fas LOGOUT

        //- <i class="fas fa-user-check"></i>

        //- <i class="fas fa-sign-out-alt"></i>